@font-face {
  font-family: 'DOS/V';
  src: url(/resources/fonts/Web437_DOS-V_TWN19.woff);
}

:root {
  --green: greenyellow;
  --repeat: 2s;   /* animation timing */
  --height: 8px; /* total pixel height from scanline top to bottom of animation */
  --area: 60%;    /* percentage of height the scanline covers */
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 10px 20%;
  background-color: black;
}

.scanlines {
  animation: scan var(--repeat) linear infinite;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
  background: linear-gradient( to bottom, #0000000a, #0000000a var(--area), #cccccc0a var(--area), #cccccc0a );
  background-color: rgba(0, 0, 0, 0.075);
  background-size: 100% var(--height);
  background-position-y: 0px;
  pointer-events: none;
}

@keyframes scan {
  0% { background-position-y: 0px; }
  100% { background-position-y: var(--height); }
}

.header {
  height: 50px;
  width: auto;
  min-width: 442.8px;
  margin-bottom: 10px;
  padding: 10px 5%;
  border-color: var(--green);
  border-style: solid;
  border-width: 3px;
  border-radius: 2px;
  box-shadow: 0 0 5px var(--green);
  display: flex;
}

.header>* {
  align-self: center;
  margin: auto;
}

.text {
  color: var(--green);
  font-family: 'DOS/V';
  font-size: 150%;
  text-decoration: none;
  text-shadow: 0 0 5px var(--green);
}

.container {
  height: fit-content;
  margin-bottom: 5%;
  border-color: var(--green);
  border-style: solid;
  border-width: 3px;
  border-radius: 2px;
  box-shadow: 0 0 5px var(--green);
}

.main-container {
  min-width: 442.8px;
  margin-bottom: 0%;
  padding: 5%;
  padding-bottom: 0%;
}

.underscore {
  user-select: none;
  animation: blink 3s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
