.pfp-container {
  width: min-content;
  height: min-content;
  margin-left: 5%;
  padding-bottom: 5%;
  margin-bottom: 10px;
}

.pfp {
  height: 200px;
}

.pfp-controler {
  display: flex;
  justify-content: center;
}

.pfp-controler>* {
  margin: 5%;
  user-select: none;
  cursor: pointer;
}

.music {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 5%;
}

.game {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 5%;
  padding: 5%;
}